assume_role              = "administrator"
ecs_hardened_ami_id      = "ami-049bba1a08b31ff8e"
sft_agent_port           = "9091"
sft_agent_image_version  = "0.0.1"
sft_agent_destination_ip = {{sft_agent_destination_ip}}
sft_agent_api_key        = {{sft_agent_api_key}}
